
<h2>Approve</h2>

<div class="row">
	<div class="col-sm-6">
		<div class="form-group">
		  
		  <select ng-model="state" class="form-control" ng-options="s.abbreviation as s.name for s in stateOptions">
		  </select>
		  <select ng-model="provider" class="form-control" ng-options="p as p for p in providers">
		  </select>
		</div><!-- /input-group -->
	</div>

	<div class="col-sm-6">
		<button class="btn btn-primary" type="button" ng-click="getDealers()">Get Info</button>
		<button class="btn btn-primary" type="button" ng-click="saveDealers()">Save</button>
	</div>
</div>

	<div ng-if="dealers">
		<h3>Report</h3>
		<ul>
			<li>Total: {{dealers.total_count}}</li>
			<li>Showing: {{stats.start}} - {{stats.end}}</li>
			<li>Saved: {{dealers.saved}}</li>
			<li>To Assess: {{dealers.assess.length}}</li>
			<li>Not Found: {{dealers.not_found.length}}</li>
		</ul>
	</div>

	<div ng-repeat="d in dealers.assess" class="dealer-list">
		<div class="row">
			<div class="col-sm-6">
				<div class="assess-header">
					<h3>Saved</h3>
					<div class="dealer-info">
						<p>Name: {{d.saved.name}}</p>
						<p>Street: {{d.saved.address.street}}</p>
					</div>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="assess-header">
					<h3>Possible Match</h3>
					<div class="dealer-info">

						<button class="btn btn-warning" ng-click="setAsNone(d)">None of these</button>

						<!-- active match info -->
						<ul>
							<li><label>Match</label>: {{d.suggestion.average}}</li>
							<li ng-repeat="(key, value) in d.suggestion.assessment">
								<label>{{key}}</label>: {{value}}
							</li>
						</ul>	
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<pre>{{d.saved | json}}</pre>
			</div>

			<div class="col-sm-6">
				<accordion close-others="true">
				    
				    <accordion-group heading="{{p.dealer.name}}" ng-repeat="p in d.processed" is-open="p.open" ng-click="showCurrentOpen(d, p)">
				      <pre>{{p.dealer | json}}</pre>
				    </accordion-group>

				</accordion>
			</div>
		</div>
		
	</div>
</div>